{% extends "/base.twig" %}
{% block title %}Mise a jour d'un article
{% endblock %}

{% block content %}
	<div class="main">
		<h1>Liste des articles</h1>
		<div class="article-list">
			{% for post in posts %}
				<div class="article">
					<div class="article-title">{{ post.title }}</div>
					<div>{{ post.content | length < 250 ? post.content : post.content | slice(0,250) ~ '...' }}</div>
					<hr>
					<div class="article-end">
						{% for user in users %}
							{%if user.id == post.author_id %}
								<div class="article-author">{{ user.username }}</div>
							{% endif %}
						{% endfor %}
						<div class="article-date">{{ post.creation_date | date('d/m/Y') }}</div>
					</div>
					<a href="{{ base_url }}post/{{ post.id }}/show" class="btn btn-primary btn-show">Voir l'aricle</a>
				</div>
				
			{% endfor %}
		</div>
	</div>
{% endblock %}
